<nz-page-header class="site-page-header" nzBackIcon>
  <nz-page-header-title>Title</nz-page-header-title>
  <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle>
  <nz-page-header-extra>
    <button nz-button>Operation</button>
    <button nz-button>Operation</button>
    <button nz-button nzType="primary">Primary</button>
  </nz-page-header-extra>
  <nz-page-header-content>
    <div class="content">
      <div class="main">
        <nz-descriptions nzSize="small" [nzColumn]="2">
          <nz-descriptions-item nzTitle="User" [nzSpan]="1">{{
            fullName$ | async
          }}</nz-descriptions-item>
        </nz-descriptions>
      </div>
      <div class="extra">
        <div>
          <nz-statistic nzTitle="Projects" nzValue="15"></nz-statistic>
          <nz-statistic
            nzTitle="Price"
            [nzValue]="568.08"
            nzPrefix="$"
            style="margin: 0 32px"
          ></nz-statistic>
        </div>
      </div>
    </div>
  </nz-page-header-content>
  <nz-page-header-footer>
<!--    <nz-tabset [nzSelectedIndex]="1">-->
<!--      <nz-tab nzTitle="Details"></nz-tab>-->
<!--      <nz-tab nzTitle="Rule"></nz-tab>-->
<!--    </nz-tabset>-->
  </nz-page-header-footer>
</nz-page-header>
