<div>
  <div class="profile">
    <div class="photo">
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/764024/profile/profile-512.jpg"
      />
    </div>
    <div class="content">
      <div class="text">
        <h3>{{ fullName$ | async }}</h3>
        <h6>Front-end Web Designer</h6>
      </div>
    </div>
  </div>
</div>


<nz-tabset nzTabPosition="left">
  <nz-tab  nzTitle="User Information">Content of tab</nz-tab>
  <nz-tab  nzTitle="Notifications">Content of tab</nz-tab>
  <nz-tab  nzTitle="Notifications">Content of tab</nz-tab>
</nz-tabset>
