<ng-container
  *ngIf="isLogged$ | async; then authView; else noAuthView"
></ng-container>

<ng-template #authView>
  <nz-layout class="layout">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item *ngFor="let menuItem of menuItems$ | async" [routerLink]="menuItem.route">
          <i nz-icon [nzType]="menuItem.icon"></i>
          <span>{{ menuItem.label }}</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="right-layout" [ngClass]="{ collapsed: isCollapsed }">
      <nz-header>
        <lo-layout-header
          [isCollapsed]="isCollapsed"
          [fullName]="fullName$ | async"
          (collapsed$)="handleCollapse()"
          (logout$)="handleLogout()"
        ></lo-layout-header>
      </nz-header>
      <lo-page-header> </lo-page-header>
      <nz-content>
        <div class="inner-content">
          <div [ngTemplateOutlet]="content"></div>
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>
</ng-template>
<ng-template #noAuthView>
  <div [ngTemplateOutlet]="content"></div>
</ng-template>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
